.button {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    padding: 0;
    border-radius: 50%;
    background: #eee;
    vertical-align: top;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.45);
}

.button:active {
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.45);
}
